// Основной цвет (подчеркивающие линии, цвет кнопок)
$main-color: #609cf5;

// Цвет разделительных, тонких линий
$main-border-color: darken(white, 20%);




//---Изображения-----------------------------------------------

// Шапка
$img-header: url(../media/google.jpg);



// Верхнии блоки с новостями
$img-top-one: url(../media/badLanguage.jpg);

$img-top-two: url(../media/camera.jpg);

$img-top-three: url(../media/2220.jpg);

$img-top-four: url(../media/python.jpg);

$img-top-five: url(../media/git.jpg);

$img-top-six: url(../media/javaScript.jpg);



// Нижнии блоки с новостями
$img-bottom-one: url(../media/frontEnd.jpg);

$img-bottom-two: url(../media/swift.jpg);

$img-bottom-three: url(../media/pythonHomeWork.jpg);

$img-bottom-four: url(../media/angular.jpg);



// Боковое меню
$img-menu-one: url(../media/kotik.jpg);
$img-menu-two: url(../media/appleDocument.jpg);

//--------------------------------------------------
