// Основной цвет (водчеркивающие линии, цвет кнопок)
$main-color: #609cf5;

// Цвет разделительных, тонких линий
$main-border-color: darken(white, 20%);




//---Изображения-----------------------------------------------

$img-header: url(../media/google.jpg);



$img-top-one: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);

$img-top-two: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);

$img-top-three: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);

$img-top-four: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);

$img-top-five: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);

$img-top-six: url(https://img.pngio.com/free-silver-backgrounds-pixelstalknet-silver-background-color-png-1950_1400.png);



$img-bottom-one: url(../media/);

$img-bottom-two: url(../media/);

$img-bottom-three: url(../media/);

$img-bottom-four: url(../media/);



$img-menu-one: url(../media/);
$img-menu-two: url(../media/);

//--------------------------------------------------
